@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color:rgb(71, 71, 71);
}

h1, h2, h3, h4, h5, h6, p{
    margin:0 !important;
}

body{
    min-height:100vh;
    margin:0;
    background:white;
    display:flex;
    flex-direction:column;
    gap:40px;
}

.header-container{
    position:relative;
    display:flex;
    align-items:end;
}

header{
    position:absolute;
    box-sizing:border-box;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:start;
    background:white;
    padding:16px;
    gap:16px;
    border-top-right-radius: 999px;
}

.logo{
    display:flex;
    align-items:center;
    gap:8px;
}

.bg-image{
    width:100%;
    height:200px;
}

header h2{
    font-size:32px;
    font-weight:bold;
}

#home-icon:active{
    opacity:0.8;
}

#home-icon i{
    font-size:30px;
}

main{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
}

.articles{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:24px;
}

.card{
    box-sizing: border-box;
    padding:4px;
    padding-left:16px;
    width:90%;
    max-width:400px;
    border-radius:20px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
    display:flex;
    gap:8px;
    align-items:center;
    justify-content:space-between;
    background:#F5F5F5;
}

.clickable:active{
    opacity: 0.8;
}

.card img{
    object-fit:cover;
    border-radius:20px;
    width:100px;
    height:100px;
}

.card-info{
    padding:20px 0 20px 0;
    display:flex;
    flex-direction:column;
    gap:8px;
}

.card-info div p{
    opacity:0.6;
}

.location{
    width:90%;
    max-width:400px;
    display:flex;
    gap:16px;
    flex-direction:column;
    align-items:center;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
    background:#F5F5F5;
    border-radius:20px;
}

iframe{
    width:100%;
    height:40vh;
    border-radius:20px 20px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

address{
    box-sizing:border-box;
    padding:16px;
    width:100%;
}

footer{
    background:black;
    color:white;
    text-align:center;
    padding:24px;
}

.socialMedia{
    z-index:999;
    display:flex;
    align-items:center;
    gap:16px;
    position:fixed;
    bottom:32px;
    left:16px;
}

.showMedia{
    cursor:pointer;
    background:white;
    border-radius:999px;
    border:none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: transparent;

    display:flex;
    align-items:center;
    justify-content:center;
    gap:4px;
    width:50px;
    height:50px;

    transition-timing-function: linear;
}

.showMedia > div{
    width:8px;
    height:8px;
    border-radius: 999px;
    background-color: rgb(71, 71, 71);
}

.showMedia:active{
    background: rgb(245,245,245);
}

.social{
    background:white;
    border-radius:999px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor:pointer;
    display:none;
    width:50px;
    height:50px;
    align-items:center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}

.social i {
    font-size:32px;
}

@keyframes fb{
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes insta{
    from {opacity:0;}
    to {opacity:1;}
}

#fb{
    animation:fb .4s;
}

#insta{
    animation:insta .4s;
}